@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
  --font-family: 'Outfit', sans-serif;

  --font-size: 18px;

  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan-color: hsl(178, 100%, 50%);

  --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --Very-dark-bluecard-BG: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White-color: hsl(0, 0%, 100%);

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: var(--Very-dark-blue-main-BG);
  font-family: var(--font-family);
}

@media screen and (max-width: 420px) {
  body {
    padding: 0rem 1rem;
  }
}