.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 95vh;
    line-height: 1.4;
}

.card__container {
    width: 400px;
    background: var(--Very-dark-bluecard-BG);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: column;
    padding: 1.5rem;
    border-radius: 1rem;
    gap: 1.5rem;
    box-shadow: 0px 31px 0px 15px rgba(12, 23, 41, 1), 0px 33px 0px 53px rgba(12, 25, 44, 1);
}

.img_container{
    position: relative;
}

.img_container_hover{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    opacity: 0;
    border-radius: 0.5rem;
    cursor: pointer;
}

.img_container:hover .img_container_hover {
    transition: all .4s ease-in-out;
    opacity: 1;
    background-color: hsla(178, 100%, 50%, 0.6);
}

.img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.img_container_hover img{
    width: 3rem;
    height: auto;
}

h2 {
    color: var(--White-color);
    font-size: 1.5rem;
}

h2:hover {
    color: var(--Cyan-color);
    cursor: pointer;
}

.card__container_text {
    color: var(--Soft-blue);
    font-weight: 300;
    font-size: 1.2rem;
}

.card__container_information {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.card__container_information img {
    width: auto;
    height: 16px;
    margin-right: 0.4rem;
}

.etherum-text {
    color: var(--Soft-blue);
    font-weight: 300;
    display: flex;
    align-items: center;
    align-content: center;
}

.clock-text {
    color: var(--Cyan-color);
    display: flex;
    align-items: center;
    align-content: center;
}

hr {
    width: 100%;
    height: 1px;
    background-color: var(--Very-dark-blue-line);
    border: none;
}

.avatar_text {
    display: flex;
    align-items: center;
    align-content: center;
    color: var(--Soft-blue);
}

.avatar_text img {
    width: 2.5rem;
    border: 1px solid var(--White-color);
    border-radius: 50px;
    margin-right: 1rem;
}

.avatar_name {
    color: var(--White-color);
}

.avatar_name:hover {
    color: var(--Cyan-color);
    cursor: pointer;
}

@media screen and (max-width: 420px) {
    .card__container {
        width: 100%;
    }
  }